/*
 * Just your everyday style sheet.
 * Trying to make things a little easier on the eyes
 */

table {
	border-collapse:collapse;
	width:50%;
}
table, td, th {
	border:1px solid black;
	padding:10px;
}
td.label {
	text-align:right;
	font-weight:bold;
}
