/*
 * Just your everyday style sheet.
 * Trying to make things a little easier on the eyes
 */

h1 {
	text-align:center;
}
h3 {
	text-align:center;
}
p.center {
	text-align:center;
}
table {
	border-collapse:collapse;
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
table, td, th {
	border:1px solid black;
	padding:5px;
}
td.data {
	width:80px;
}
td.label {
	text-align:right;
	font-weight:bold;
}
td.center {
	text-align:center;
}
#name {
	width:75px;
}
#submit {
	padding:5px;
}
